/* variables paleta de colores */
:root {
	--amarillo-primario: #ffc31a;
	--negro-primario: #0e0e0e;
	--negro-background: #1d1d1d;
	--negro-secundario: rgba(0, 0, 0, 0.75);
	--blanco-secundario: #ffffffee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", -apple-system, sans-serif;
	color: var(--negro-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
