/* variables paleta de colores */
:root {
  --amarillo-primario: #ffc31a;
  --negro-primario: black;
  --negro-background: #202020;
  --negro-secundario: rgba(0, 0, 0, 0.75);
  --blanco-secundario: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
