.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 6.25rem;
    height: auto;
    position: static;
    cursor: pointer;
    opacity: 1;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    overflow: hidden;
    border: 2px solid;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #FFC31A;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-spacing: 2px;
    background: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    padding: 10px 30px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.button:hover {
    background-color: #FFC31A;
    color: black
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0px;
    padding: 0;
    background: #202020;
}

.detail {
    margin: 0 auto;
    margin-top: 5rem;
    width: 31.25rem;
    background-color: black;
    padding: 10px 30px;
    border: 2px solid #FFC31A;
    border-radius: 20px;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
}

h5 {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
}

.img{
    width: 25rem;
    height: 14.0625rem;
}

.p {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    background-position: center;
}

