.container {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 80vh;
  width: 100%;
	background: url("./background.png");
	flex-direction: column;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 1rem;
	gap: 2rem;
}

.link {
	text-decoration: none;
	color: var(--negro-primario);
}
