    .card {
        margin: 1.25rem;
        width: 18rem;
        height: 15rem;
        background-color: var(--negro-secundario);
        border-radius: 0.9375rem;
    }

    .title {
        padding-top: 0.9375rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        color: var(--blanco-secundario);
        font-family: Helvetica, sans-serif;
        font-size: 13px;
    }

    .subtitle {
        line-height: 0;
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        color: var(--blanco-secundario);
        font-family: Helvetica, sans-serif;
        font-size: 10px;
    }

    .img {
        width: 15.625rem;
        height: 9.375rem;
        padding-bottom: 0.9375rem;
    }

    .activity {
        font-family: Helvetica, sans-serif;
        font-size: 45px;
        font-weight: bold;
        color: var(--blanco-secundario);
        padding-top: 5.3125rem;
    }

