.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--negro-primario);
    width: 100%;
    height: 2.75rem;
    font-family: 'Roboto';
    color: var(--blanco-secundario);
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}