.filters {
    width: 20%;
    height: 1.875rem;
    margin: 1.25rem;
    margin-top: 6.25rem;
    padding-left: 0.625rem;
    border: 2px solid black;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #FFC31A;
    border-radius: 0.3125rem;
    align-items: center;
}

.label{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    align-self: center;
}

.option{
    background-color: white;
    color: black;
}

.option:default{
    background-color: white;
    color:black ;
}

