.pagination {
    display: flex;
    font-family: 'Roboto';
    font-size: 12px;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: row;
}

.li {
    display: inline-block;
    padding: 0.3125rem;
    cursor: pointer;
    position: relative;
    color: var(--negro-primario);
}

.a {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: var(--negro-primario);
    text-decoration: none;
}

.buttonDisabled {
    display: none;
}